@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Gilroy-Regular.eot");
    src: local("Gilroy"), local("Gilroy"), url("../fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/Gilroy-SemiBold.eot");
    src: local("Gilroy"), local("Gilroy"), url("../fonts/Gilroy-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-SemiBold.woff") format("woff"), url("../fonts/Gilroy-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/Gilroy-Bold.eot");
    src: local("Gilroy"), local("Gilroy"), url("../fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.ttf") format("truetype");
}

body,
.header,
.contact__question span {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
}

.first-screen__title,
.modal {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
}

.contact__question,
.footer__menu-item {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
::after,
::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    font-size: inherit;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

button {
    text-transform: uppercase;
    border-radius: 5px;
    text-align: center;
}

body {
    position: relative;
    font-size: 20px;
    color: black;
}

.container {
    max-width: 1470px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 18px;
    line-height: 22px;
}

.header__logo {
    margin-left: 80px;
}

.header .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 47px 0;
}

.header .menu__item+.menu__item {
    margin-left: 31px;
}

.header .menu__item-link:hover {
    color: #f7941e;
    text-decoration: underline;
}

.header__btn {
    margin-right: 34px;
    color: #f7941e;
    background-color: inherit;
    border: 1px solid #f7941e;
    padding: 18px 24px;
}

.header__btn:hover {
    cursor: pointer;
    color: black;
    background-color: #f7941e;
}

.screen__item {
    background-repeat: no-repeat;
}

.first-screen {
    background-color: #f1f1f2;
}

.first-screen__item {
    background-position: right;
}

.first-screen__about {
    padding: 154px 162px 126px 135px;
    max-width: 720px;
    position: relative;
}

.first-screen__title {
    font-size: 56px;
    line-height: 69px;
    margin-bottom: 32px;
    max-width: 433px;
}

.first-screen__text {
    line-height: 140.62%;
    margin-bottom: 52px;
    max-width: 433px;
}

.first-screen__btn {
    background-color: #f7941e;
    border: 1px solid #f7941e;
    width: 200px;
    height: 60px;
}

.first-screen__btn:hover {
    cursor: pointer;
    background-color: inherit;
}

.second-screen {
    background-color: #f1f1f2;
}

.second-screen__item {
    background-position: left;
}

.second-screen__about {
    padding: 164px 166px 104px 104px;
    margin-left: auto;
    max-width: 720px;
    position: relative;
}

.second-screen__title {
    font-size: 32px;
    line-height: 140.62%;
    margin-bottom: 23px;
    max-width: 441px;
}

.second-screen__text {
    line-height: 140.62%;
    margin-bottom: 35px;
    max-width: 441px;
}

.second-screen__btn {
    background-color: inherit;
    border: 1px solid #f7941e;
    width: 200px;
    height: 60px;
}

.second-screen__btn:hover {
    cursor: pointer;
    background-color: #f7941e;
}

.gallery {
    padding: 96px 0 137px;
}

.gallery__title {
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    margin-bottom: 23px;
}

.gallery__subtitle {
    font-size: 18px;
    line-height: 135.94%;
    text-align: center;
}

.gallery__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.gallery__list-item {
    max-width: 270px;
    margin-top: 64px;
    background-color: #f1f1f2;
    -webkit-box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}

.gallery__photo-name {
    line-height: 24px;
    padding: 24px 24px;
    margin-bottom: 50px;
    text-align: left;
}

.gallery__btn {
    font-size: 14px;
    line-height: 19px;
    padding: 0 24px;
    margin-bottom: 24px;
    text-align: left;
}

.gallery__btn:hover {
    color: #f7941e;
}

.contact {
    background-color: #f7941e;
}

.contact .container-box {
    padding: 80px 100px 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.contact__question {
    font-size: 32px;
    line-height: 140.62%;
    text-align: left;
}

.contact__question span {
    display: block;
    font-size: 32px;
    line-height: 140.62%;
}

.contact button {
    width: 200px;
    height: 50px;
    border: 1px solid #000000;
    text-align: center;
    font-size: 18px;
}

.contact button:hover {
    cursor: pointer;
}

.contact__find {
    line-height: 22px;
    color: #ffffff;
    background-color: #231f20;
}

.contact__find:hover {
    color: #231f20;
    background-color: #ffffff;
}

.contact__how {
    line-height: 24px;
    background-color: #f7941e;
    margin-left: 16px;
}

.contact__how:hover {
    background-color: #ffffff;
}

.blog {
    padding: 80px 0;
}

.blog__title {
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    margin-bottom: 23px;
}

.blog__text {
    font-size: 18px;
    line-height: 135.94%;
    text-align: center;
    margin-bottom: 71px;
}

.blog__screen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 40px;
}

.blog__screen-content {
    width: 100%;
    background-color: #231f20;
    color: #ffffff;
    padding: 63px 200px 49px 78px;
    text-align: left;
}

.blog__screen-author {
    font-size: 14px;
    line-height: 140.62%;
    margin-bottom: 27px;
}

.blog__screen-text {
    font-size: 48px;
    line-height: 58px;
    margin-bottom: 60px;
    max-width: 492px;
}

.blog__screen .blog__btn {
    font-size: 18px;
    line-height: 140.62%;
}

.blog__screen .blog__btn:hover {
    color: #f7941e;
}

.blog__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.blog__item {
    padding: 48px;
    max-width: 570px;
    -webkit-box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}

.blog__item-title {
    font-size: 24px;
    line-height: 140.62%;
    margin-bottom: 16px;
}

.blog__item-text {
    font-size: 18px;
    line-height: 140.62%;
    margin-bottom: 16px;
}

.blog__item .blog__btn {
    font-size: 14px;
    line-height: 140.62%;
}

.blog__item .blog__btn:hover {
    color: #f7941e;
}

.footer {
    background-color: #fafafa;
    padding: 106px 0 35px;
    text-align: center;
}

.footer__navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 43px;
}

.footer__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer__menu-item {
    font-size: 14px;
    line-height: 140.62%;
}

.footer__menu-item+.footer__menu-item {
    margin-left: 54px;
}

.footer__menu-link:hover {
    color: #f7941e;
    text-decoration: underline;
}

.footer .logo {
    margin: 0 141px;
}

.footer .line {
    height: 1px;
    width: 1000px;
    background-color: #000000;
    margin: 0 auto;
    margin-bottom: 56px;
}

.footer__social {
    margin-bottom: 72px;
}

.footer__social .social-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.footer__social .social-menu-item+.social-menu-item {
    margin-left: 25px;
}

.footer .social-icon:hover {
    fill: #f7941e;
}

.footer__copy {
    font-size: 14px;
    line-height: 140.62%;
}

.footer__copy span {
    padding-left: 14px;
    font-size: inherit;
    line-height: inherit;
}

.modal {
    display: none;
    background-color: transparent;
}
.overlay.active {
    display: block;
    position: fixed;
    z-index: 899;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: black;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    opacity: 0;
    pointer-events: none;
}

.overlay.active {
    opacity: 0.55;
    pointer-events: all;
}

.modal.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: fixed;
    z-index: 999;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: transparent;
}

.modal form {
    width: 400px;
    max-width: 100%;
    height: 100%;
    min-height: 280px;
    padding: 10px;
    border: 2px solid #f7941e;
    border-radius: 5px;
    color: #000000;
    background-color: rgb(193, 193, 193);
}

.modal__close{
    cursor: pointer;
}

.modal__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}

.modal label {
    width: 100%;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    display: block;
    margin-bottom: 10px;
}

input,
textarea {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 0px 5px;
    border: 1px;
    border-color: transparent;
}

input {
    box-sizing: border-box;
    height: 28px;
    font-size: 20px;
}

input[type="submit"] {
    background-color: #f7941e;
}

input[type="submit"]:hover {
    cursor: pointer;
    outline: auto;
}

textarea {
    resize: none;
    height: 100px;
    font-size: 18px;
}
